<div class="box-content">
    <h5><a href="javascript:;" routerLink="/">Quản lý truyện tranh</a></h5>
    <ul class="ul-primary">
        <li>    
            <span>Truyện</span>
            <ul class="ul-secondary">
                <li><a href="javascript:;" routerLink="comic-list" routerLinkActive="is-active">Danh sách</a></li>
                <li><a href="javascript:;" routerLink="comic-new" routerLinkActive="is-active">Thêm mới</a></li>
            </ul>
        </li>
        
        <li>
            <span>Thể loại</span>
            <ul class="ul-secondary">
                <li><a href="javascript:;" routerLink="category-list" routerLinkActive="is-active">Danh sách</a></li>
                <li><a href="javascript:;" routerLink="category-new" routerLinkActive="is-active">Thêm mới</a></li>
            </ul>
        </li>

        <li>
            <span>Tác giả</span>
            <ul class="ul-secondary">
                <li><a href="javascript:;" routerLink="author-list" routerLinkActive="is-active">Danh sách</a></li>
                <li><a href="javascript:;" routerLink="author-new" routerLinkActive="is-active">Thêm mới</a></li>
            </ul>
        </li>

    </ul>
</div>