.header {
    background-color: coral;
    display: flex;
    border-radius: 15px;
}

.logo {
    /* width: 2000px; */
    width: 1020px;
    line-height: 48px;
    padding-left: 15px;
    color: white;
    text-shadow: 1.5px 1px rgb(179, 179, 179);
    font-weight: 500;
}

.search {
    width: 100%;
    padding-right: 15px;
}
.search input {
    margin: 5px 0;
    width: 100%;
    border-radius: 10px;
}
.search input:focus {
    border-color: rgb(119, 118, 118);
    box-shadow: none;
}

.client {
    line-height: 48px;
}
.client a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 8px;
}
.client a:hover {
    transition: all ease-in 0.1s;
    color: coral;
    background-color: white;
}