<div class="header">
    <div class="title">
        <h5 class="">DANH SÁCH TRUYỆN</h5>
    </div>
    <div class="sort">
        <select class="form-select sort-category" (change)="sortByCategory($event)">
            <option value="">Thể loại</option>
            <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.name }}</option>
        </select>
        <select class="form-select sort-author" (change)="sortByAuthor($event)">
            <option value="">Tác giả</option>
            <option *ngFor="let author of authors" value="{{ author.id }}">{{ author.name }}</option>
        </select>
        <select class="form-select sort-views" (change)="sortByViews($event)">
            <option value="">Lượt xem</option>
            <option value="desc">Cao nhất</option>
            <option value="asc">Nhấp nhất</option>
        </select>
    </div>
    <div class="search">
        <input type="text" class="form-control" placeholder="Tìm truyện..." (keyup)="search($event)">
    </div>

</div>

<div class="table-list-comic">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên</th>
                <th scope="col">Ảnh</th>
                <th scope="col">Thể loại</th>
                <th scope="col">Tác giả</th>
                <th scope="col">Lượt xem</th>
                <th scope="col">Số tập</th>
                <th scope="col">Trạng thái</th>
                <!-- <th scope="col">Miêu tả</th> -->
                <th class="text-center">Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let comic of comics  | paginate: { 
                itemsPerPage: 5, 
                currentPage: page,
                totalItems: totalLength
            }; index as i">
                <th scope="row">{{ (page-1)*5+(i+1) }}</th>
                <td>{{ comic.name }}</td>
                <td class="image">
                    <img src="{{ comic.image }}" alt="image">
                </td>
                <td>
                    {{ comic.category.name }}
                    <!-- <a href="javascript:;" routerLink="/admin/category-edit/{{ comic.cate_id }}">{{ comic.category.name }}</a> -->
                </td>
                <td>
                    {{ comic.author.name }}
                    <!-- <a href="javascript:;" routerLink="/admin/author-edit/{{ comic.au_id }}"> {{ comic.author.name }}</a> -->
                </td>
                <td>{{ fomatN(comic.views) }}</td>
                <td>{{ comic.chapters }}</td>
                    <td>{{ comic.status==1 ? 'Hoàn thành' : 'Đang tiến hành' }}</td>
                <!-- <td>{{ comic.descs }}</td> -->
                <td class="text-center">
                    <a href="javascript:;" class="btn btn-outline-primary" routerLink="/admin/comic-edit/{{ comic.id }}" >Sửa</a>
                    <span class="mx-1"></span>
                    <a href="javascript:;" class="btn btn-outline-danger" (click)="onRemove(comic.id)" >Xóa</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <pagination-controls (pageChange)="page = $event" ></pagination-controls>
    </div>
</div>