<h5 class="header-title">DANH SÁCH TRUYỆN</h5>

<div class="table-list-comic">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên</th>
                <th scope="col">Ảnh</th>
                <th scope="col">Thể loại</th>
                <th scope="col">Tác giả</th>
                <th scope="col">Số tập</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Miêu tả</th>
                <th scope="col">Lượt xem</th>
                <th class="text-center">Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let comic of comics; index as i">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ comic.name }}</td>
                <td class="image">
                    <img src="{{ comic.image }}" alt="image">
                </td>
                <td>{{ comic.category.name }}</td>
                <td>{{ comic.author.name }}</td>
                <td>{{ comic.chapters }}</td>
                    <td>{{ comic.status==1 ? 'Hoàn thành' : 'Đang tiến hành' }}</td>
                <td>{{ comic.descs }}</td>
                <td>{{ comic.views }}</td>
                <td class="text-center">
                    <a href="javascript:;" class="btn btn-outline-primary" routerLink="/admin/comic-edit/{{ comic.id }}" >Sửa</a>
                    <span class="mx-1"></span>
                    <a href="javascript:;" class="btn btn-outline-danger" (click)="onRemove(comic.id)" >Xóa</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>