.header {
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 3fr 6fr 6fr;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.header h5{
    margin: 0;
}
.search input{
    border-radius: 10px;
}
.image {
    width: 130px;
    height: 150px;
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
a {
    text-decoration: none;
}
/* tbody tr td {
    vertical-align: middle;
}
tbody tr th {
    vertical-align: middle;
} */
.sort {
    display: flex;
    justify-content: flex-end;
}
.sort-category {
    border-radius: 10px;
    width: 105px;
    margin-right: 5px;
}
.sort-author {
    border-radius: 10px;
    width: 100px;
    margin-right: 5px;
}
.sort-views {
    border-radius: 10px;
    width: 130px;
    margin-right: 5px;
}
