<h5 class="header-title">DANH SÁCH TÁC GIẢ</h5>

<div class="table-list-comic">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên</th>
                <th scope="col" class="text-center">Số lượng truyện</th>
                <th class="text-end">Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td class="text-center">5</td>
                <td class="text-end">
                    <a href="javascript:;" class="btn btn-outline-primary">Sửa</a>
                    <span class="mx-1"></span>
                    <a href="javascript:;" class="btn btn-outline-danger">Xóa</a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td class="text-center">3</td>
                <td class="text-end">
                    <a href="javascript:;" class="btn btn-outline-primary">Sửa</a>
                    <span class="mx-1"></span>
                    <a href="javascript:;" class="btn btn-outline-danger">Xóa</a>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td >Jond</td>
                <td class="text-center">9</td>
                <td class="text-end">
                    <a href="javascript:;" class="btn btn-outline-primary">Sửa</a>
                    <span class="mx-1"></span>
                    <a href="javascript:;" class="btn btn-outline-danger">Xóa</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>