<h5 class="header-title">DANH SÁCH TÁC GIẢ</h5>

<div class="table-list-comic">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên</th>
                <th scope="col" class="text-center">Số lượng truyện</th>
                <th class="text-end">Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let author of authors; index as i">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ author.name }}</td>
                <td class="text-center">{{ author.comics.length }}</td>
                <td class="text-end">
                    <a href="javascript:;" class="btn btn-outline-primary" routerLink="/admin/author-edit/{{ author.id }}" >Sửa</a>
                    <span class="mx-1"></span>
                    <a href="javascript:;" class="btn btn-outline-danger" (click)="removeAuthor(author.id)" >Xóa</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>