<div class="header">
    <div class="title">
        <h5 class="">DANH SÁCH THỂ LOẠI</h5>
    </div>
    <div class="sort">
        <!-- Sort -->
        <select class="form-select sort-quantity" (change)="sortQuantity($event)">
            <option value="">Số lượng truyện</option>
            <option value="desc">Nhiều nhất</option>
            <option value="asc">Ít nhất</option>
        </select>
    </div>
    <div class="search">
        <input type="text" class="form-control" placeholder="Tìm danh mục..." (keyup)="search($event)">
    </div>
</div>
<div class="table-list-comic">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên</th>
                <th scope="col" class="text-center">Số lượng truyện</th>
                <th class="text-end">Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories; index as i">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ category.name }}</td>
                <td class="text-center">{{ category.comics.length }}</td>
                <td class="text-end">
                    <a href="javascript:;" routerLink="/admin/category-edit/{{ category.id }}" class="btn btn-outline-primary">Sửa</a>
                    <span class="mx-1"></span>
                    <a href="javascript:;" class="btn btn-outline-danger" (click)="onRemove(category.id)" >Xóa</a>
                </td>
            </tr>

        </tbody>
    </table>
</div>