<div class="container">
    <div class="row pb-5" style="background-color: rgb(255, 255, 255);">

        <div class="col-8 p-0">
            <div class="d-flex justify-content-between align-items-center border-bottom mb-4 mt-3 ml-3 mr-3">
                <h4 class="py-3 mb-0 category-title">Thể loại: {{ cate.name }}</h4>
                <a href="javascript:;" class="btn-rese" (click)="sortOrder($event)">Đảo chiều</a>
            </div>
            <div class="row px-4">
                <div *ngFor="let comic of cate.comics | paginate: { 
                    itemsPerPage: 12, 
                    currentPage: page,
                    totalItems: totalLength
                }" class="col-3 px-2">
                    <app-cl-item-comic [comic_item]='comic'></app-cl-item-comic>
                </div>
                <div class="pagination">
                    <pagination-controls (pageChange)="page = $event" ></pagination-controls>
                </div>
            </div>
        </div>

        <div class="col-4 pt-3 pl-0 sidebar">
            <app-cl-sidebar></app-cl-sidebar>
        </div>

    </div>
</div>