<h5 class="header-title">THÊM TRUYỆN</h5>

<div class="form-new-comic col-6 mx-auto">
    <form action="javascript:;">
        <div class="row mb-2">
            <label class="col-form-label col-2">Tên truyện: </label>
            <div class="col-10">
                <input type="text" class="form-control">
            </div>
        </div>


        <div class="row mb-3">
            <label class="col-form-label col-2">Thể loại</label>
            <select class="form-select col-10">
                <option value="1">Thể loại 1</option>
                <option value="2">Thể loại 2</option>
                <option value="3">Thể loại 3</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Tên truyện: </label>
            <input type="text" class="form-control">
        </div>
    </form>
</div>