.col-test {
    flex: 0 0 auto;
    width: 20%;
}
.container {
    max-width: 1030px;
}
.form-select {
    padding-bottom: 0;
    padding-top: 0;
}
.sort_order {
    /* width: 300px; */
    margin-bottom: 0;
}
.sort_order label{
    margin-bottom: 0;
}
.sort_order .form-select{
    width: 100px;
    margin-left: 5px;
    display: inline-block;
}

.btn-rese {
    border: 1px solid #ccc;
    padding: 1px 15px;
    text-decoration: none;
    border-radius: 5px;
    color: rgb(65, 65, 65);
}
.btn-rese:hover {
    /* transform: scale(1.001); */
}
.btn-rese:active {
    transform: scale(0.98);
}

.category-title {
    font-size: 20px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}